<section class="px-6 lg:px-10 mt-12">
  <h4 class="text-xl md:text-2xl font-normal font-inter">From The Blog</h4>

  <div class="flex flex-col lg:flex-row gap-6 lg:gap-12 items-center">
    <!-- image  -->
    <div class="w-full lg:w-[49%] rounded-3xl overflow-hidden mt-4">
      <img
        src="/blog/blogImg.png"
        alt="blog highlight"
        class="w-full h-[240px] sm:h-[260px] md:h-[320px] lg:h-[340px] object-cover"
      />
    </div>

    <!-- text  -->
    <div class="w-full lg:w-[51%]">
      <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-normal font-inter leading-tight">
        How to combine your daily outfit to looks fresh and cool.
      </h2>

      <p class="mt-4 text-gray-500 text-sm md:text-base max-w-lg leading-relaxed font-inter">
        Maybe you don't need to buy new clothes to have nice, cool, fresh looking outfit everyday.
        Maybe what you need is to combine your clothes collections. Mix and match is the key.
      </p>

      <a
        routerLink="/blog"
        class="mt-6 inline-block px-6 py-2 border rounded-full text-sm md:text-base hover:bg-black hover:text-white transition cursor-pointer"
      >
        READ MORE
      </a>
    </div>
  </div>
</section>
