<section class="px-6 lg:px-10 mt-16">
  <h2 class="text-2xl md:text-4xl lg:text-5xl max-w-xl font-medium font-inter leading-tight">
    Why you'll love to <br class="hidden md:block" />
    shop on our website
  </h2>
  <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-10 lg:gap-16">
    <!-- card 1  -->
    <div>
      <div class="w-16 h-16 md:w-20 md:h-20 bg-black rounded-full flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
          <path
            fill="white"
            d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54z"
          />
        </svg>
      </div>
      <h4 class="mt-4 text-xl md:text-2xl font-medium font-inter">Take care with love</h4>
      <p class="mt-3 text-gray-600 text-sm md:text-base leading-tight font-inter">
        We take care your package with full of attention and of course full of love. We want to make
        sure you'll receive your package like you receive your birthday gift.
      </p>
    </div>
    <!-- card 2  -->
    <div>
      <div class="w-16 h-16 md:w-20 md:h-20 bg-black rounded-full flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
          <path
            fill="white"
            d="M19.95 21q-3.125 0-6.175-1.362t-5.55-3.863t-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3"
          />
        </svg>
      </div>
      <h4 class="mt-4 text-xl md:text-2xl font-medium font-inter">Friendly Customer Service</h4>
      <p class="mt-3 text-gray-600 text-sm md:text-base leading-tight font-inter">
        You do not need to worry when you want to check your package. We will always answer whatever
        your questions. Just click on the chat icon and we will talk.
      </p>
    </div>
    <!-- card 3  -->
    <div>
      <div class="w-16 h-16 md:w-20 md:h-20 bg-black rounded-full flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="rotate-90 scale-x-[-1]">
          <path
            fill="white"
            d="M6 12.05q0 1.125.425 2.188T7.75 16.2l.25.25V15q0-.425.288-.712T9 14t.713.288T10 15v4q0 .425-.288.713T9 20H5q-.425 0-.712-.288T4 19t.288-.712T5 18h1.75l-.4-.35q-1.3-1.15-1.825-2.625T4 12.05Q4 9.7 5.2 7.787T8.425 4.85q.35-.2.738-.025t.512.575q.125.375-.012.75t-.488.575q-1.45.8-2.312 2.213T6 12.05m12-.1q0-1.125-.425-2.187T16.25 7.8L16 7.55V9q0 .425-.288.713T15 10t-.712-.288T14 9V5q0-.425.288-.712T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6h-1.75l.4.35q1.225 1.225 1.788 2.663T20 11.95q0 2.35-1.2 4.263t-3.225 2.937q-.35.2-.737.025t-.513-.575q-.125-.375.013-.75t.487-.575q1.45-.8 2.313-2.212T18 11.95"
          />
        </svg>
      </div>

      <h4 class="mt-4 text-xl md:text-2xl font-medium font-inter">Refund Process</h4>
      <p class="mt-3 text-gray-600 text-sm md:text-base leading-tight font-inter">
        Refund is a such bad experience and we don't want that thing happen to you. But when it's
        happen we will make sure you will through smooth and friendly process.
      </p>
    </div>
  </div>
</section>
